@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body {
  position: relative;
  font-family: "Outfit", sans-serif;
  background: #f5f5f5;
}

::placeholder {
  display: flex;
  justify-content: center;
}

.table-my-money {
  overflow-x: auto;

  table {
    width: 100%;
  }
}
